<nav>

    <a href="#"
      ><img
        src="../assets/imagens/NavWn.jpg"
        alt=""
        style="width: 20%; height: 50px"

    /></a> <h1 class="logo">Wytaian Polimentos</h1>


</nav>

<main>

<table *ngFor="let list of lista" >
  <ol  class="list">
    <ul>

    <tbody>
    <tr>
    <td>
          <br>
      <span>Nome:</span>
      {{ list.nome }}
      <button type="button" class="btnlist" [swal]="{
        title:'ATENÇÃO !!!',
        text:'Deseja realmente excluir?',
        showDenyButton:true,
        denyButtonText:'Não',
        confirmButtonText:'Sim'

      }"(confirm)="deletar(list._id)">Exluir</button><br>

      <span>Telefone:</span>
      {{ list.telefone }}
      <a class="localizacao" href="https://contate.me/WnPolimentos" role="button"
      ><img src="../assets/imagens/whatsapp.png" alt=""
    /></a><br>

      <span>Polimento Completo:</span>
      {{ list.polimentoCompleto }}<br>

      <span>Rua:</span>
      {{ list.rua }}
      <span>Nº:</span>
      {{ list.numero }}
      <span>Bairro:</span>
      {{ list.bairro }}
      <span>Cidade:</span>
      {{ list.cidade }}

      <a class="localizacao" (click)="localizacao(list.rua,list.numero,list.bairro,list.cidade)"><img src="../assets/imagens/map.png" alt=""></a>
      <br>
      <span>Data:</span>
      {{ list.data }}

      <span>Hora:</span>
      {{ list.hora }}
      <hr class="mt-3"/>

    </td>
    </tr>
  </tbody>

</ul>
</ol>
  </table>
</main>


 <!--<table mat-table [dataSource]="lista" class="mat-elevation-z8">

    <ng-container matColumnDef="nome" >
      <th mat-header-cell *matHeaderCellDef class="tamanho" > Nome </th>
      <td  mat-cell *matCellDef="let list"> {{list.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="rua">
      <th mat-header-cell *matHeaderCellDef> Rua </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.rua}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> numero </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.numero}} </td>
    </ng-container>

    <ng-container  class="center" matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td  mat-cell *matCellDef="let list"> {{list.tipo}} </td>
    </ng-container>

    <ng-container  class="center" matColumnDef="cidade">
      <th mat-header-cell *matHeaderCellDef>Cidade </th>
      <td  mat-cell *matCellDef="let list"> {{list.cidade}} </td>
    </ng-container>

    <ng-container matColumnDef="bairro">
      <th mat-header-cell *matHeaderCellDef> Bairro </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.bairro}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.data}} </td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora  </th>
      <td class="center" mat-cell *matCellDef="let list"> {{list.hora}} </td>
    </ng-container>

    <ng-container matColumnDef="polimentoCompleto">
      <th mat-header-cell *matHeaderCellDef>    Serviço </th>
      <td mat-cell *matCellDef="let list"> {{list.polimentoCompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="localizacao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let list"> <a class="localizacao" (click)="localizacao(list.rua,list.numero,list.bairro,list.cidade)"><img src="../assets/imagens/map.png" alt=""></a> </td>

    </ng-container>
    <ng-container matColumnDef="Excluir">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let list">
        <button type="button" class="btnlist" [swal]="{
          title:'ATENÇÃO !!!',
          text:'Deseja realmente excluir?',
          showDenyButton:true,
          denyButtonText:'Não',
          confirmButtonText:'Sim',icon:'warning'

        }" (confirm)="deletar(list._id)">Exluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->
